doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title Atributos
	body
		h1 atributos
		a(href="http://www.google.com", target="_blank") Ir a Google
		a(
			class="link",
			href="www.youtube.com"
			target="_blank"
		) Ir a Youtube

