doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title JavaScript
	body
		h1 JavaScript
		h3#mensaje
		script.
			var mensaje = document.getElementById('mensaje')
			var nombre = prompt('cual es su nombre');
			if(nombre == 'bryan') {
				mensaje.innerHTML = "Bienvenido Sensei: "+nombre;
			} else {
				mensaje.innerHTML = "Bienvenido: "+nombre;
			}