doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title ciclo para
	body
		h1 Ciclo para
		ul
			-for(var i = 1; i <= 20; i++)
				li Elemento #{i}
		table(border="1")
			-for(var tr = 1; tr <= 5; tr++)
				tr
					-for(var td = 1; td <=10; td++)
						td F#{td} C#{td}
	