doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title comentarios
	body
		h1 Comentarios
		// Esto es un comentario y es visible en HTML
		//-Esto es un comentario y no es visible en HTML

		//
			Esto es un
			comentario
			de varias lineas
			

	