doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title condicionales
	body
		h1 condicionales
		-var autorizacion = false
		article
			if autorizacion 
				
				img(src="imgs/verdolaga.png")
			else
				h3 Casa de Papel
				img(src="imgs/man.jpg")
	